
@{
    ViewBag.Title = "Index";
}



<div class=" thumbnail">
    <a href="Event/SingleEvent">
        <img src="~/References/SummaryEventPage.png", alt="EventSummary", style="width:100%" />
    </a>
</div>

