
@{
    ViewBag.Title = "Index";
}





<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    <div class="dropdown">
                        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown">
                            Team
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">North Gwinnett High</a>
                            <a class="dropdown-item" href="#">South Palo Alto High</a>
                            <a class="dropdown-item" href="#">Druid Academy</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="dropdown">
                        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown">
                            Squad
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Freshman Squad</a>
                            <a class="dropdown-item" href="#">Junior Varsity Squad</a>
                            <a class="dropdown-item" href="#">Versity Squad</a>
                        </div>
                    </div>
                </div>

            </div>

            <br />

            <div class="row" style="height: 250px; overflow-y: scroll;">
                <a href="Event/SingleEvent">
                    <img src="~/References/One Event Content.png" style="width:100%">
                    <img src="~/References/One Event Content.png" style="width:100%">
                    <img src="~/References/One Event Content.png" style="width:100%">
                </a>
            </div>

        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-3">
            <div class="row">
                <img src="~/References/calendar.png" style="width:100%">
            </div>
            <br />
        </div>
    </div>