
@{
    ViewBag.Title = "Index";
}

<h2>Event</h2>

<div class=" thumbnail">
    <a href="~/References/SummaryEventPage.png">
        <img src="~/References/SummaryEventPage.png", alt="EventSummary", style="width:100%" />
    </a>
</div>

