
@{
    ViewBag.Title = "SingleEvent";
}

<div class="thumbnail">
    <a href="~/References/SingleEvent.png">
        <img src="~/References/SingleEvent.png" alt="Splash" style="width:100%" />
    </a>
</div>

