
@{
    ViewBag.Title = "SingleEvent";
}

<div class="thumbnail">
    <a href='@Url.Action("SingleTask", "Task")'>
        <img src="~/References/SingleEvent.png" alt="Splash" style="width:100%" />
    </a>
</div>

