
@{
    ViewBag.Title = "AddUser";
}

<div class="thumbnail">
    <a href="~/References/Invitation.png">
        <img src="~/References/Invitation.png" alt="Splash" style="width:100%">
    </a>
</div>

