
@{
    ViewBag.Title = "Index";
}

    <div class="thumbnail">
        <a href="~/References/Team Management.png">
            <img src="~/References/Team Management.png" alt="Splash" style="width:100%">
        </a>
    </div>

