
@{
    ViewBag.Title = "Index";
}

<style>

</style>

<div class="container">
        <div class="col-lg-9">
            <div class="row">

                <div class="col-lg-2"></div>

                <div class="col-lg-4">
                    <button type="button" class="btn btn-success btn-block btn-lg">
                        Add Squad
                    </button>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn btn-success btn-block btn-lg">
                        Add Stunt Group
                    </button>
                </div>

                <div class="col-lg-2"></div>

            </div>

            <br />

            <div class="row" style="height: 500px; overflow-y: scroll;">

                <div class="container">

                    <h1>Team: Everett High School</h1>
                    <div class="card bg-light text-dark">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-block px-2">
                                    <h2 class="card-title">Varsity Squad</h2>
                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group A
                                        </button>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group B
                                        </button>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group C
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card bg-light text-dark">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-block px-2">
                                    <h2 class="card-title">Junior Varsity Squad</h2>
                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group A
                                        </button>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group B
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card bg-light text-dark">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-block px-2">
                                    <h2 class="card-title">Freshman Squad</h2>
                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group A
                                        </button>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group B
                                        </button>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            Stunt Group C
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Stunt Group Roster</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <ul>
                                        <li>Lindsay Lohan</li>
                                        <li>Rachel McAdams</li>
                                        <li>Lacey Chabert</li>
                                        <li>Lindsay Lohan</li>
                                        <li>Amanda Seyfried</li>
                                    </ul>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-primary btn-lg btn-block" role="button">Manage Users</a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-primary btn-lg btn-block" role="button">Manage Team Roster</a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-primary btn-lg btn-block" role="button">View Team Roster</a>
                </div>
                <div class="col-lg-1"></div>
            </div>

        </div>
</div>
