
@{
    ViewBag.Title = "Index";
}

<style>

</style>

<div class="container">
        <div class="col-lg-9">
            <div class="row">

                <div class="col-lg-2"></div>

                <div class="col-lg-4">
                    <button type="button" class="btn btn-success btn-block btn-lg">
                        Add Squad
                    </button>
                </div>

                <div class="col-lg-4">
                    <button type="button" class="btn btn-success btn-block btn-lg">
                        Add Stunt Group
                    </button>
                </div>

                <div class="col-lg-2"></div>

            </div>

            <br />

            <div class="row" style="height: 500px; overflow-y: scroll;">

                <div class="container">

                    <div class="col-lg-1"></div>

                    <div class="col-lg-10 card">
                        <h3>Varsity Squad</h3>
                        <ul>
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Stunt Group A
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Stunt Group B
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Stunt Group C
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-1"></div>

                </div>
            </div>
        </div>

        <div class="col-lg-3">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-primary btn-lg btn-block" role="button">Manage Users</a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-primary btn-lg btn-block" role="button">Manage Team Roster</a>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-primary btn-lg btn-block" role="button">View Team Roster</a>
                </div>
                <div class="col-lg-1"></div>
            </div>

        </div>
</div>
