
@{
    ViewBag.Title = "FAQ";
}

    <div class="thumbnail">
        <a href="~/References/FAQ(Admin).png">
            <img src="~/References/FAQ(Admin).png" style="width:100%">
        </a>
    </div>

