@{
    ViewBag.Title = "Home";
}

<div class="thumbnail">
    <a href="~/References/MainSplashPage (2).png">
        <img src="~/References/MainSplashPage (2).png" alt="Splash" style="width:100%">
    </a>
</div>
