
@{
    ViewBag.Title = "Index";
}

<div class="thumbnail">
    <a href="~/References/Summary Task Page(Admin version).png">
        <img src="~/References/Summary Task Page(Admin version).png" style="width:100%">
    </a>
</div>
